.myPostForm {
  display: flex;
  margin: 25px 0;
  width: 100%;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  padding-right: 1%;
  border-radius: 10px;
}

.myPostForm__text {
  width: 500px;
  height: 100px;
  text-align: center;
  font-size: 20px;
  width: 65%;
  font-size: 40px;
  border: none;
  outline: none;
  border-radius: 10px;
}

.myPostForm__btn {
  width: 34%;
  margin-left: 10px;
  height: 40px;
  background-color: rgba(5, 78, 194, 0.513);
  margin-top: 15px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
  border: none;
  font-size: 20px;
}

.myPostForm__btn:hover {
  box-shadow: 1px 1px 1px 1px #000;
}
