.nav {
  display: flex;
  font-size: 20px;
  height: 100%;
  align-items: center;
}

.active {
  color: white !important;
}

.nav a {
  color: black;
  text-decoration: none;
  margin: 0 20px;
}

.nav a:hover {
  color: silver;
}
